#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.dealer_block, .player_block {
  display: flex;
}

.options {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.option_box {
  padding: 1rem;
}